/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Builds]/
/[Logs]/
/[MemoryCaptures]/

# Unityが生成する一時ファイル
/UserSettings/
/Build/
/DerivedData/

# Visual Studioなどのプロジェクトファイル（これらは後から自動生成されます）
*.csproj
*.sln
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svclog